.jumbotron{
  background: none;
  color: ghostwhite;
  padding-top: 10px;
  padding-bottom: 0;
}


@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

h1{
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px;
}
